<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>TSS 2</title>

<!-- Bootstrap Core CSS -->
<link href="../bower_components/bootstrap/dist/css/bootstrap.min.css"
	rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="../bower_components/metisMenu/dist/metisMenu.min.css"
	rel="stylesheet">

<!-- Timeline CSS -->
<link href="../dist/css/timeline.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="../dist/css/sb-admin-2.css" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="../bower_components/morrisjs/morris.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="../bower_components/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">TSS v2.0</a>
			</div>
			<!-- /.navbar-header -->

			<ul class="nav navbar-top-links navbar-right">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i
						class="fa fa-envelope fa-fw" id="infoIcon"> </i> <i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-messages" id="message">
						
					</ul> <!-- /.dropdown-messages --></li>
				<!-- /.dropdown -->
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-tasks fa-fw"></i>
						<i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-tasks">
						<li><a href="#">
								<div>
									<p>
										<strong>Task 1</strong> <span class="pull-right text-muted">40%
											Complete</span>
									</p>
									<div class="progress progress-striped active">
										<div class="progress-bar progress-bar-success"
											role="progressbar" aria-valuenow="40" aria-valuemin="0"
											aria-valuemax="100" style="width: 40%">
											<span class="sr-only">40% Complete (success)</span>
										</div>
									</div>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<p>
										<strong>Task 2</strong> <span class="pull-right text-muted">20%
											Complete</span>
									</p>
									<div class="progress progress-striped active">
										<div class="progress-bar progress-bar-info" role="progressbar"
											aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
											style="width: 20%">
											<span class="sr-only">20% Complete</span>
										</div>
									</div>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<p>
										<strong>Task 3</strong> <span class="pull-right text-muted">60%
											Complete</span>
									</p>
									<div class="progress progress-striped active">
										<div class="progress-bar progress-bar-warning"
											role="progressbar" aria-valuenow="60" aria-valuemin="0"
											aria-valuemax="100" style="width: 60%">
											<span class="sr-only">60% Complete (warning)</span>
										</div>
									</div>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<p>
										<strong>Task 4</strong> <span class="pull-right text-muted">80%
											Complete</span>
									</p>
									<div class="progress progress-striped active">
										<div class="progress-bar progress-bar-danger"
											role="progressbar" aria-valuenow="80" aria-valuemin="0"
											aria-valuemax="100" style="width: 80%">
											<span class="sr-only">80% Complete (danger)</span>
										</div>
									</div>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a class="text-center" href="#"> <strong>See
									All Tasks</strong> <i class="fa fa-angle-right"></i>
						</a></li>
					</ul> <!-- /.dropdown-tasks --></li>
				<!-- /.dropdown -->
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-bell fa-fw"></i>
						<i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-alerts">
						<li><a href="#">
								<div>
									<i class="fa fa-comment fa-fw"></i> New Comment <span
										class="pull-right text-muted small">4 minutes ago</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<i class="fa fa-twitter fa-fw"></i> 3 New Followers <span
										class="pull-right text-muted small">12 minutes ago</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<i class="fa fa-envelope fa-fw"></i> Message Sent <span
										class="pull-right text-muted small">4 minutes ago</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<i class="fa fa-tasks fa-fw"></i> New Task <span
										class="pull-right text-muted small">4 minutes ago</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<i class="fa fa-upload fa-fw"></i> Server Rebooted <span
										class="pull-right text-muted small">4 minutes ago</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a class="text-center" href="#"> <strong>See
									All Alerts</strong> <i class="fa fa-angle-right"></i>
						</a></li>
					</ul> <!-- /.dropdown-alerts --></li>
				<!-- /.dropdown -->
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i>
						<i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-user">
						<li><a href="../pages/userprofile"><i
								class="fa fa-user fa-fw"></i> User Profile</a></li>
						<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
						</li>
						<li class="divider"></li>
						<li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i>
								Logout</a></li>
					</ul> <!-- /.dropdown-user --></li>
				<!-- /.dropdown -->
			</ul>
			<!-- /.navbar-top-links -->

			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					<ul class="nav" id="side-menu">
						<li class="sidebar-search">
							<div class="input-group custom-search-form">
								<input type="text" class="form-control" placeholder="Search...">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div> <!-- /input-group -->
						</li>
						<li><a href="../pages/index"><i
								class="fa fa-dashboard fa-fw"></i> Course Home</a></li>
						<li><a href="../pages/documents"><i
								class="fa fa-dashboard fa-fw"></i> Lecture Notes</a></li>
						<li><a href="../pages/info"><i
								class="fa fa-dashboard fa-fw"></i> Info Center</a></li>
						<li><a href="../pages/assigment"><i class="fa fa-dashboard fa-fw"></i>
								Assigment Center</a></li>
						<li><a href="http://110.173.17.140:8080/ask?wikiId=1"><i class="fa fa-dashboard fa-fw"></i>
								Professional BBS</a></li>

					</ul>
				</div>
				<!-- /.sidebar-collapse -->
			</div>
			<!-- /.navbar-static-side -->
		</nav>
		<div id="page-wrapper">
		
			<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Homework Release</h1>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
					<div class="panel panel-green">
						<div class="panel-heading">
		               		1st Step(Necessary):
		               	</div>
		               	<div class="panel-body">
		               		<h4>Breif Description</h4>
		               		<div class="form-group">
                                <textarea class="form-control" rows="3" placeholder="Enter Description"></textarea>
							</div>
		               	</div>
					</div>
				</div>
				
				<div class="col-lg-6">	
					<div class="panel panel-green">
						<div class="panel-heading">
		               		2nd Step(Necessary):
		               	</div>
		               	<div class="panel-body">
		               		<h4>DDL Setting</h4>
		               		<label style="font-size:18px;font-weight:normal;">Date: </label>
		               		<input type="date" value="2016-07-29"/><br><br>
		               		<label style="font-size:18px;font-weight:normal;">Time: </label>
		               		<input type="time" value="18:00"/>
		               	</div>
					</div>
				</div>
			</div>
			
			
			<div class="row">
                <div class="col-lg-12">
					<div class="panel panel-info">
						<div class="panel-heading">
		               		3rd Step(Optional):
		               	</div>
		               	<div class="panel-body">
		               		<h4>Select Helping Files</h4>
		               		<div class="form-group">
								<input type="file">
                            </div>
		               	</div>
					</div>
				</div>
			</div>
			<br>
			<button type="button" class="btn btn-primary btn-lg btn-block">
				Publish Job
			</button>
		<br>
		<div class="row">
				<!-- /.panel -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-clock-o fa-fw"></i> Past Job
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<ul class="timeline">
							<li>
								<div class="timeline-badge warning">
									<i class="fa fa-credit-card"></i>
								</div>
								<div class="timeline-panel">


									<div class="timeline-heading">
										<h4 class="timeline-title">计算机组成原理作业3</h4>
										<p>
											<small class="text-muted"><i class="fa fa-clock-o"></i>
												11 hours ago by Ren Tongwei</small>
										</p>
									</div>

										<div class="timeline-body">

											<div class="panel panel-default">
												<!-- /.panel-heading -->
												<div class="panel-body">
													<!-- Nav tabs -->
													<ul class="nav nav-pills">
														<li class="active"><a href="#home-h03"
															data-toggle="tab">Home</a></li>
														<li><a href="#ddl-h03" data-toggle="tab">DDL</a>
														</li>
														<li><a href="#df-h03" data-toggle="tab">Descroption file</a>
														</li>
													</ul>

													<!-- Tab panes -->
													<div class="tab-content">
														<div class="tab-pane fade in active" id="home-h03">
														    <h4>Description</h4>
															<p>作业描述见文档</p>
														</div>
														<div class="tab-pane fade" id="ddl-h03">
														    <h4>DeadLine</h4>
															<p>2016-06-20 23:59:59</p>
														</div>
														<div class="tab-pane fade" id="df-h03">
														    <h4>Helping Files</h4>
														    <p>
															<a href="www.baidu.com" target="_blank" class="alert-link">计算机组成原理作业3</a>.
															</p>
														</div>
													</div>
												</div>
												<!-- /.panel-body -->
											</div>
											<!-- /.panel -->
									</div>
								</div>
							</li>
							
							<li class="timeline-inverted">
								<div class="timeline-badge">
									<i class="fa fa-check"></i>
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title">计算机组成原理作业2</h4>
										<p>
											<small class="text-muted"><i class="fa fa-clock-o"></i>
												6 days ago by Ren Tongwei</small>
										</p>
									</div>

										<div class="timeline-body">

											<div class="panel panel-default">
												<!-- /.panel-heading -->
												<div class="panel-body">
													<!-- Nav tabs -->
													<ul class="nav nav-pills">
														<li class="active"><a href="#home-h02"
															data-toggle="tab">Home</a></li>
														<li><a href="#ddl-h02" data-toggle="tab">DDL</a>
														</li>
														<li><a href="#df-h02" data-toggle="tab">Descroption file</a>
														</li>
													</ul>

													<!-- Tab panes -->
													<div class="tab-content">
														<div class="tab-pane fade in active" id="home-h02">
														    <h4>Description</h4>
															<p>作业描述见文档</p>
														</div>
														<div class="tab-pane fade" id="ddl-h02">
														    <h4>DeadLine</h4>
															<p>2016-06-15 23:59:59</p>
														</div>
														<div class="tab-pane fade" id="df-h02">
														    <h4>Helping Files</h4>
														    <p>
															<a href="www.baidu.com" target="_blank" class="alert-link">计算机组成原理作业2</a>.
															</p>
														</div>
													</div>
												</div>
												<!-- /.panel-body -->
											</div>
											<!-- /.panel -->
									</div>
								</div>
							</li>
							
							<li>
								<div class="timeline-badge">
									<i class="fa fa-check"></i>
								</div>
								<div class="timeline-panel">


									<div class="timeline-heading">
										<h4 class="timeline-title">计算机组成原理作业1</h4>
										<p>
											<small class="text-muted"><i class="fa fa-clock-o"></i>
												14 days ago by Ren Tongwei</small>
										</p>
									</div>

										<div class="timeline-body">

											<div class="panel panel-default">
												<!-- /.panel-heading -->
												<div class="panel-body">
													<!-- Nav tabs -->
													<ul class="nav nav-pills">
														<li class="active"><a href="#home-h01"
															data-toggle="tab">Home</a></li>
														<li><a href="#ddl-h01" data-toggle="tab">DDL</a>
														</li>
														<li><a href="#df-h01" data-toggle="tab">Descroption file</a>
														</li>
													</ul>

													<!-- Tab panes -->
													<div class="tab-content">
														<div class="tab-pane fade in active" id="home-h01">
														    <h4>Description</h4>
															<p>作业描述见文档</p>
														</div>
														<div class="tab-pane fade" id="ddl-h01">
														    <h4>DeadLine</h4>
															<p>2016-06-7 23:59:59</p>
														</div>
														<div class="tab-pane fade" id="df-h01">
														    <h4>Helping Files</h4>
														    <p>
															<a href="www.baidu.com" target="_blank" class="alert-link">计算机组成原理作业1</a>.
															</p>
														</div>
													</div>
												</div>
												<!-- /.panel-body -->
											</div>
											<!-- /.panel -->
									</div>
								</div>
							</li>

						</ul>
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->

			</div>
			<!-- /#row -->
		
	</div>
	
	<!-- jQuery -->
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="../dist/js/sb-admin-2.js"></script>
	
	<script type="text/javascript" src="../web-im-1.1.1/jquery-1.11.1.js"></script>
	<script type='text/javascript' src="../web-im-1.1.1/strophe.js"></script>
	<script type="text/javascript" src="../web-im-1.1.1/easemob.im-1.1.1.js"></script>
	<script type="text/javascript" src="../web-im-1.1.1/easemob.im.shim.js"></script>
    <script src="../myJs/huanxinLogin.js"></script>
</body>
</html>